body{
    background: url(../img/marraqueta-fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.header{
    width:100%;
    height: auto;
    padding: 5px;
    font-family: 'Kalam', cursive;
}


h1{
    color:#f1f1f1;
    font-size: 5em;
}
h2{
    color:#f2f2f2;
    font-size: 3em;
}

.header img{
    max-width: 200px; 
    float: left;
    display: block;
    margin-right: 20px;
}
.container{
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    color:#000;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    
}
.rectangulo{
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: #F0CE5C;
     -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.rectangulo a{
    width: 150px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.rectangulo a:hover {
    background-color: #ce0606;
    cursor: pointer;
}

.rectangulo a:active {
    box-shadow: none;
    top: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea,input[type=password],input[type=date],input[type=number]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[name=enviar] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
}
input[type=guardar] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
}

/* Style the form */
.form {
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[name=enviar] {
    width: 100%;
    margin-top: 20px;
    }
    .header img{
    max-width: 200px; 
    text-align: center;
    margin: 0px;
    padding: 0px;
    }
    h1{
    color:#f1f1f1;
    font-size: 2em;
    }
    h2{
    color:#f2f2f2;
    font-size: 1em;
    }
    input[name=enviar] {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    }
}
